<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/f5cf72cd-0a30-4fbc-8b8b-311df7b5d7a0/resourceGroups/ProductsRG/providers/Microsoft.Web/sites/sisocwebapi</ResourceId>
    <ResourceGroup>ProductsRG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://sisocwebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5affdf29-8924-4e73-9ce1-882d3ecd350e</ProjectGuid>
    <PublishUrl>https://sisocwebapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$sisocwebapi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>